.main {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__title {
	margin: 15px  20px 0;
}

.main__subtitle {
	margin: 15px  20px;
}

.main__download {
	width: calc(100% - 40px);
	max-width: 730px;
	border: 1px solid #555;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.main__input {
	width: 500px;
	margin: 10px;
}

input[type=file]::file-selector-button {
	width: 20vw;
	max-width: 180px;
	min-width: 125px;
	height: 35px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	background-color: #61dafb;
}

input[type=file]::file-selector-button:hover {
	background-color: #EEE;
}

.main__button {
	width: 20vw;
	max-width: 180px;
	min-width: 125px;
	height: 35px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	background-color: #61dafb;
	margin: 10px;
}

.main__button:hover {
	background-color: #EEE;
}

@media screen and (max-width: 490px) {
	.main__download {
		flex-direction: column;
		align-items: flex-start;
	}

	.main__input {
		width: calc(100% - 20px);
	}
}