.logout {
	text-decoration: none;
	color: #999;
	font-size: 20px;
	border: 1px solid #555;
	padding: 3px 5px;
	border-radius: 5px;
}

.logout:hover {
	color: #61dafb;
	border: 1px solid #61dafb;
}