.file-container {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	padding: 20px;
}

@media screen and (max-width: 640px) {
	.file-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 540px) {
	.file-container {
		grid-template-columns: repeat(3, 1fr);
	}
}