.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);
}
